<style>

}
</style>
<link href="main2.css" rel="stylesheet" id="bootstrap-css">


<link href="main2.css" rel="stylesheet" id="bootstrap-css">


<div class="container">
            <form class="form-horizontal" role="form">
                <h2 color="blue">About Us</h2>
		<center>
                <table>
                <div class="form-group">
                    <p>

<h1>What is mybasket.com</h1>

mybasket.com (Innovative Retail Concepts Private Limited) is India’s largest online food and grocery store. 
With over 18,000 products and over a 1000 brands in our catalogue you will find everything you are looking for.
Right from fresh Fruits and Vegetables, Rice and Dals, Spices and Seasonings to Packaged products, Personal 
care products, Meats – we have it all.Choose from a wide range of options in every category, exclusively handpicked 
to help you find the best quality available at the lowest prices.Select a time slot for delivery and your order will
 be delivered right to your doorstep, anywhere in Bangalore, Hyderabad, Mumbai, Pune,Chennai, Delhi, Noida, Mysore,
 Coimbatore, Vijayawada-Guntur, Kolkata, Visakhapatnam,Surat, Nagpur, Patna, Indore and Chandigarh Tricity You can
 pay online using your debit / credit card or by cash / sodexo on  delivery.We guarantee on time delivery, and the
 best quality!

<h1>Why should I use mybasket.com?</h1>

mybasket.com allows you to walk away from the drudgery of grocery shopping and welcome an easy relaxed way of browsing and shopping for 
groceries. Discover new products and shop for all your food and grocery needs from the comfort of your home or office. No more getting
stuck in traffic jams, paying for parking, standing in long queues and carrying heavy bags – get everything you need, when you need, right
at your doorstep. Food shopping online is now easy as every product on your monthly shopping list, is now available online at mybasket.com,
 India’s best online grocery store.


<h1>What is your mybasket Guarantee?</h1>

We guarantee 100% satisfaction with every product, every time. Simply Click here to review the details of our mybasket Guarantee.

<h1>How does Reserve Delivery Time work?</h1>

It's simple! Twenty-four hours after you receive your first DeliveryPass order, you'll be granted exclusive access to our
Reserve Delivery Time feature, which you'll find in the "Your Account" section of our site. You can reserve your delivery
timeslot at any time up to a week before you check out, or you can hold a regular standing timeslot for each week at 
no extra cost. When you make a reservation, you'll be given a reservation expiry time. Be sure to complete the checkout 
process before your reservation expires, otherwise you risk losing your preferred timeslot. Please note that reservations
not used for one week will be released.
</p>

                
            </form> <!-- /form -->
        </div> <!-- ./container -->