<!DOCTYPE html>
<html>
<head>
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>
</head>
<body>

<h2 style="text-align:center">Products</h2>
<div class="container">
<div class="row">
	<div class="column">
		<div class="card">
  		<img src="babycare.jpg" alt="Baby Care" style="width:100%">
  		<h1>Baby Care</h1>
  		<p class="price">$21.00</p>
  		<p>Johnson's baby care collection is an exclusive gifting collection carefully.</p>
  		<p><button>Add to Cart</button></p>
		</div>
	</div>
	<div class="column">
		<div class="card">
  		<img src="beverages.jpg" alt="beverages" style="width:100%">
  		<h1>Beverages</h1>
  		<p class="price">$19.99</p>
  		<p>Beverages is mo</p>
  		<p><button>Add to Cart</button></p>
		</div>
	</div>
	<div class="column">
		<div class="card">
  		<img src="breakfastanddiary.jpg" alt="Breakfast and Diary" style="width:100%">
  		<h1>breakfast and diary</h1>
  		<p class="price">$25.99</p>
  		<p>Healthy breakfast and healthy life.</p>
  		<p><button>Add to Cart</button></p>
		</div>
	</div>	

</div>
<div class="container">
<div class="row">
	<div class="column">
		<div class="card">
  		<img src="frozenfood.jpg" alt="Frozen food" style="width:100%">
  		<h1>Frozen food</h1>
  		<p class="price">$22.99</p>
  		<p>Generally,foods are very crazy  for kids.</p>
 		<p><button>Add to Cart</button></p>
		</div>
	</div>
	<div class="column">
		<div class="card">
  		<img src="homeandkitchen.jpg" alt="Home and Kitchen" style="width:100%">
  		<h1>Home and Kitchen</h1>
 		<p class="price">$29.99</p>
  		<p>Home and Kitchen things are very important for us.</p>
  		<p><button>Add to Cart</button></p>
	</div>
	<div class="column">
		<div class="card">
  		<img src="homeandkitchen.jpg" alt="Home and Kitchen" style="width:100%">
  		<h1>Home and Kitchen</h1>
 		<p class="price">$29.99</p>
  		<p>Home and Kitchen things are very important for us.</p>
  		<p><button>Add to Cart</button></p>
	</div>
</div>
</div>
	
</body>
</html>
