{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>
    {% for item in Items_list %}
    <img src="{{baseUrl}}/{{item.img_name}}">
    <h1>{{item.item_name}}</h1>
    <h1>{{item.item_id}}</h1>
    <h1>{{item.class_name}}</h1>
    <h1>{{item.brand_name}}</h1>
    <h1>{{item.price}}</h1>
    <h1>{{item.quantity}}</h1>
    {% endfor %}
    



<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="{% static 'images/babycare.jpg' %}" class="img-responsive" style="width:100%" alt="Image"></div>
	
	 
       
       
        <div class="panel-footer">Price:$25.00 id:213</div>
	<center>
	 <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
        </a>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Buy Now
        </a></center>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="{% static 'images/babycarekit.jpg' %}" class="img-responsive" style="width:66.5%" alt="Image"></div>
        <div class="panel-footer">Price:$26.00 id:214</div>
<center>
	 <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
        </a>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Buy Now
        </a></center>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><center><img src="{% static 'images/joh.jpg' %}" class="img-responsive" style="width:66.5%" alt="Image"></center></div>
        <div class="panel-footer">Price:$35.00 id:215</div>
	<center>
	 <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
        </a>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Buy Now
        </a></center>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><center><img src="{% static 'images/set.jpg' %}" class="img-responsive" style="width:66.5%" alt="Image"></center></div>
        <div class="panel-footer">Price:$25.00 id:216</div>
	<center>
	 <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
        </a>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Buy Now
        </a></center>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><center><img src="{% static 'images/pink.jpg' %}" class="img-responsive" style="width:89%" alt="Image"></center></div>
        <div class="panel-footer">Price:$15.00 id:217</div>
	<center>
	 <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
        </a>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Buy Now
        </a></center>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><center><img src="{% static 'images/babyclothes.jpg' %}" class="img-responsive" style="width:55%" alt="Image"></center></div>
        <div class="panel-footer">Price:$24.00 id:218</div>
	<center>
	 <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
        </a>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Buy Now
        </a></center>
      </div>
    </div>
  </div>
</div><br><br>
<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="{% static 'images/babycare.jpg' %}" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Price:$25.00 <td><td>id:219</div>
	<center>
	 <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
        </a>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Buy Now
        </a></center>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="{% static 'images/babykitset.jpg' %}" class="img-responsive" style="width:71.5%" alt="Image"></div>
        <div class="panel-footer">Price:$45.00 id:220</div>
	<center>
	 <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
        </a>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Buy Now
        </a></center>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="{% static 'images/pink.jpg' %}" class="img-responsive" style="width:90.5%" alt="Image"></div>
        <div class="panel-footer">Price:$25.00 id:221</div>
	<center>
	 <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
        </a>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Buy Now
        </a></center>
      </div>
    </div>
  </div>
</div><br><br>
<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="{% static 'images/babycare.jpg' %}" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Price:$22.00 id:222</div>
	<center>
	 <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
        </a>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Buy Now
        </a></center>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="{% static 'images/clo.jpg' %}" class="img-responsive" style="width:75%" alt="Image"></div>
        <div class="panel-footer">Price:$32.00 id:223</div>
	<center>
	 <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
        </a>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Buy Now
        </a></center>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="{% static 'images/bla.jpg' %}" class="img-responsive" style="width:67%" alt="Image"></div>
        <div class="panel-footer">Price:$25.00 id:224</div>
	<center>
	 <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
        </a>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Buy Now
        </a></center>
      </div>
    </div>
  </div>
</div><br>
<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><center><img src="{% static 'images/johnsonsbabysmallkit.jpg' %}" class="img-responsive" style="width:70%" alt="Image"></center></div>
        <div class="panel-footer">Price:$10.00 id:225</div>	
<center>
	 <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
        </a>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Buy Now
        </a></center>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><center><img src="{% static 'images/cottonclothes.jpg' %}" class="img-responsive" style="width:70%" alt="Image"></center></div>
        <div class="panel-footer">Price:$25.00 id:226</div>
	<center>
	 <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
        </a>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Buy Now
        </a></center>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="{% static 'images/neb.jpg' %}" class="img-responsive" style="width:70%" alt="Image"></div>
        <div class="panel-footer">Price:$25.00 id:227</div>
	<center>
	 <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
        </a>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Buy Now
        </a></center>
      </div>
    </div>
  </div>
</div><br>
<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="{% static 'images/himalayaslargeproducts.jpg' %}" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Price:$35.00 id:228</div>
	<center>
	 <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
        </a>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Buy Now
        </a></center>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><center><img src="{% static 'images/babycarecarrybag.jpg' %}" class="img-responsive" style="width:60%" alt="Image"></center></div>
        <div class="panel-footer">Price:$25.00 id:229</div>
	<center>
	 <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
        </a>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Buy Now
        </a></center>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><center><img src="{% static 'images/diapers.jpg' %}" class="img-responsive" style="width:75%" alt="Image"></center></div>
        <div class="panel-footer">Price:$15.00 id:230</div>
	<center>
	 <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
        </a>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Buy Now
        </a></center>
      </div>
    </div>
  </div>
</div><br>
<footer class="container-fluid text-center">
  <p>Online Store Copyright</p>  
  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form>
</footer>

</body>
</html>
