<style>

}
</style>
<link href="main.css" rel="stylesheet" id="bootstrap-css">


<link href="main.css" rel="stylesheet" id="bootstrap-css">


<div class="container">
            <form class="form-horizontal" role="form">
                <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact Us</h1>
		<h3>We would love to hear from you !</h3>
		<center>
                <table>
                <div class="form-group">
                    <tr><td><label for="firstName" class="col-sm-3 control-label">First Name:</label></td>
                    
                        <td><input type="text" id="firstName" placeholder="First Name" class="form-control" autofocus></td>
                    
                </tr>
                </div>
                <tr> <td>&nbsp;</td> </tr>
                <div class="form-group">
                   <tr><td> <label for="lastName" class="col-sm-3 control-label" bgcolor="pink">Last Name:</label></td>
                    
                        <td><input type="text" id="lastName" placeholder="Last Name" class="form-control" autofocus></td>
                    </tr>
                    
                </div>

                	<tr> <td>&nbsp;</td> </tr>

                <div class="form-group">
                    <tr><td><label for="email" class="col-sm-3 control-label">Email: </label></td>
                    
                       <td> <input type="email" id="email" placeholder="Email" class="form-control" name= "email"></td>
                    </tr>
                    
                </div>
                <tr> <td>&nbsp;</td> </tr>
                
                
                
                
                <div class="form-group">
                    <tr><td><label for="phoneNumber" class="col-sm-3 control-label">Phone number: </label></td>
                    
                        <td><input type="phoneNumber" id="phoneNumber" placeholder="Phone number" class="form-control">
                        <span class="help-block"><h5><h5></span></td>
                    </tr>
                </div>
                <tr> <td>&nbsp;</td> </tr>
		<div class="form-group">
                    <tr><td><label for="subject" class="col-sm-3 control-label">Subject: </label></td>
                    
                        <td><input type="text" id="sub" placeholder="enter something..." class="form-control">
                        <span class="help-block"><h5><h5></span></td>
                    </tr>
                </div>
                <tr> <td>&nbsp;</td> </tr>
		
              	</table>
		</center>
                                
		<center>
		<table>
                <tr><td><button type="submit" class="button">Submit</button></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="reset" class="cancel">cancel</button></td></tr></table></center>
	<p>want more help ? <a href="">visit help center</a> </p>         
</form> <!-- /form -->
        </div> <!-- ./container -->