<html>
    <head>
        <title>Order</title>
        <style>
        body{
            background-color: rgb(25,40,73);
            color:white;
        }
        </style>
    </head>
    <body>
        <center><h1>Successfully Ordered</h1>
        <a href="{% url 'myapp:hello' %}" style="background-color: dodgerblue;color:white;text-decoration:none;padding:10px;width:300px;border-radius:8px;height:50px;font-size:20px;">
        <span class="glyphicon glyphicon-shopping-cart" >Go to Home</span>
        </a>
        </center>
    </body>
</html>